.navbar{
    width: 100%;
    color:aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    z-index: 100; 
}

.nav-logo{
    display:flex;
    padding: 0px 5px;
    background-color: rgba(228, 226, 226, 0.218);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

.logo-img{
    height:25px;
    background-color: aliceblue;
    margin-top: 6px;
    margin-right: 5px;
    padding: 1px 1px;
    border-radius: 30%;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase;
}