.navbar{
    width: 100%;
    color:aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    z-index: 100;
}

.nav-logo{
    display:flex;
    background-color: rgba(3, 1, 1, 0.336);
    padding: 0px 5px;
    border-radius: 10px;

}

.logo-img{
    height:25px;
    background-color: aliceblue;
    margin-top: 6px;
    margin-right: 5px;
    padding: 1px 1px;
    border-radius: 30%;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase;
}